torchtext
feather-format
scipy
matplotlib
scikit-image
spacy
sklearn-pandas
sympy
isoweek
pandas_summary
tensorflow-cpu
opencv-python
jupyter-offlinenotebook
-f https://download.pytorch.org/whl/cpu/torch_stable.html
torch
torchvision
